doctype html
html
    head
        title Recipe App
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="/javascripts/script.js", defer)
    body
        h1 Recipes
        each r in recipe
          div
              h2 #{r.name}
              h3 Instructions
              ul
                  each instruction in r.instructions
                      li= instruction
              h3 Ingredients
              ul
                  each ingredient in r.ingredients
                      li= ingredient
        div#recipe